*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; 
}




 header {
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    backdrop-filter: blur(10px);
    background: rgba(234, 236, 241, 0.7);
     padding: 15px 80px;
}


.logo{
    text-decoration: none;
    color: #3a6cf4;
    font-weight: 700;
    font-size: 1.8em;
}

.navigation a{
    color: #3a6cf4;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding: 30px;
}

.navigation a:hover {
    color: #310af6;
}


section {
    padding: 100px 200px;
}

.avatar {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    background: #1e293b;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    box-shadow: 0 0 25px #3a6cf4;
}

.avatar i {
    font-size: 60px;
    color: #3a6cf4;
}


.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background: linear-gradient(135deg, black, #00bcd4 );
    


}

.main h2 {
    color: #fff;
    font-size: 1.4em;
    font-weight: 500;
}

.main h2 span {
    display: inline-block;
    margin-top: 10px;
    color: white;
    font-size: 3em;
    font-weight: 600;
}



.main-btn {
    color: #fff;
    background-color: #3a6cf4;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
    margin-top: 15px;
}

.main-btn:hover {
    color: #1e293b;
    transform: scale(1.1);
}

.social-icons a {
    color: #fff;
    font-size: 1.7em;
    padding-right: 30px;
}

.social-icons a:hover {
    color: #1e293b;
    transform: scale(1.1);
}

.title {
    display: flex;
    justify-content: center;
    color: #3a6cf4;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}

.content {
  display: flex;
  justify-content: center;
}

.card {
  background-color: #fff;
  width: 40em;
  box-shadow: 0 5px 25px rgba(1, 1, 1, 0.15);
  border-radius: 10px;
  padding: 25px;
  margin: 15px;
  transition: 0.7s ease;
  border-left: 6px solid #3a6cf4; 

}

.card:hover {
  transform: scale(1.05);
}



.info {
  text-align: center;
  font-size: 25px;

}

.info h3 {
  color: #3a6cf4;
  font-size: 1.2em;
  font-weight: 700;
  margin: 10px;
}

.projects {
    
    background-color: #1e293b;

}




.contact .icon{
    font-size: 4.5em;
}

.contact .info h3 {
    color: #000;
}

.contact .info p {
    font-size: 1.5em;
}

footer {
  text-align: center;
   padding: 1rem; 
   background-color: #1e293b;
  color: #fff;
}





@media (max-width:1023px){
    header{
        padding: 12px 20px;
    }

    .navigation a{
        padding-left: 10px;
    }

    .title{
        font-size: 1.8em;
    }

    section{
        padding: 80px 20px;
    }

    .main-content h2{
        font-size: 1em;
    }

    .main-content h3{
        font-size: 1.6em;
    }

    .content{
        flex-direction: column;
        align-items: center;
    }

}




@media (max-width:641px){
    body{
        font-size: 12px;
    }

    .main-content h2{
        font-size: 0.8em;
    }

    .main-content h3{
        font-size: 1.4em;
    }
}

@media (max-width:300px){
    body{
        font-size: 10px;
     
    }
}
@media (max-width: 768px) {
    .cards {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%;
    }
}


